<footer class="footer">
    <h3 class="heading-tertiary footer__title">Connect with us</h3>

    <div class="footer__connect">
        <a href="#" class="footer__connect--logo"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer__connect--logo"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer__connect--logo"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer__connect--logo"><i class="fab fa-youtube"></i></a>
        
        
    </div>

    <p class="footer__text">Copyright © by André Dias. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, André Dias, is of course highly appreciated!</p>
    
</footer>