// Colors
// Gradients
$gradient-sunkist: linear-gradient(#F2994A, #F2C94C);
$gradient-citrus-peel: linear-gradient(#FDC830, #F37335);
$gradient-juicy-orange: linear-gradient(#FF8008, #FFC837);
$gradient-mango: linear-gradient(#ffe259,#ffa751);

$gradient-sirius-tamed: linear-gradient(#EFEFBB,#D4D3DD);